<link href="~/Content/dataTables.bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/dataTables.bootstrap.min.js"></script>
<div class="row">
    <br />
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="row">
            @using (Html.BeginForm("Sortear", "Sorteio", FormMethod.Post))
            {
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <p>Clique para Fazer o sorteio e saber se ganhou.</p>
                <table class="table">
                    <tr>                        
                        <td><input type="submit" value="Sortear" /></td>
                    </tr>
                </table>
            }
            <br />
        </div>
        <div class="row">
            @if (ViewBag.Sorteio != null)
            {
                <table id="data" class="table table-bordered table-striped table-hover">
                    <tr>
                        <th>
                            Tipo de Loteria
                        </th>
                        <th colspan="6">
                            Numeros Sorteados
                        </th>
                        <th>
                            Data e Hora
                        </th>
                        <th>
                            Controle
                        </th>
                    </tr>
                    @foreach (var aposta in ViewBag.Sorteio)
                    {
                        <tr>
                            <td>
                                @aposta.tipoLoteria

                            </td>
                            @foreach (var numero in aposta.numerosDaAposta)
                            {
                                <td>
                                    @numero.numeroApostado
                                </td>
                            }
                            <td>
                                @aposta.dataDaAposta
                            </td>
                            <td>
                                @aposta.CodAposta
                            </td>
                        </tr>
                    }
                </table>
            }
        </div>
    </div>
</div>

<script>
    $("#data").DataTable({
        "language": {
            "sEmptyTable": "Nenhum registro encontrado",
            "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
            "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
            "sInfoFiltered": "(Filtrados de _MAX_ registros)",
            "sInfoPostFix": "",
            "sInfoThousands": ".",
            "sLengthMenu": "_MENU_ resultados por página",
            "sLoadingRecords": "Carregando...",
            "sProcessing": "Processando...",
            "sZeroRecords": "Nenhum registro encontrado",
            "sSearch": "Pesquisar",
            "oPaginate": {
                "sNext": "Próximo",
                "sPrevious": "Anterior",
                "sFirst": "Primeiro",
                "sLast": "Último"
            },
            "oAria": {
                "sSortAscending": ": Ordenar colunas de forma ascendente",
                "sSortDescending": ": Ordenar colunas de forma descendente"
            }
        }
    });
</script>